<div class="d-none align-items-center flex-column" id="quotation-loader">
    <h3>Envoi du devis...</h3>
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

{% if success %}
    <div class="alert bg-success text-white">
        <i class="bi bi-check2-circle"></i> Votre demande de devis a bien été enregistrée, nous reviendrons vers vous au plus vite!
    </div>

{% else %}

<div id="quotation-form">
    <div class="d-none alert bg-danger text-white" id="quotation-alert"><i class="bi bi-exclamation-triangle"></i> <span></span> </div>
    <div class="d-none alert bg-success text-white" id="quotation-success"><i class="bi bi-check2"></i> <span></span> </div>

    {{ form_start(quotationForm) }}
    <h5>Coordonnées</h5>
    <div class="row border-bottom">
        <div class="col-md-6">
            {{ form_row(quotationForm.lastname) }}
            {{ form_row(quotationForm.firstname) }}
            {{ form_row(quotationForm.email) }}

        </div>
        <div class="col-md-6">
            {{ form_row(quotationForm.phone) }}

            {{ form_row(quotationForm.fax) }}
        </div>
    </div>
    <h5 class="mt-2">Votre voyage</h5>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(quotationForm.departureCity) }}
            {{ form_row(quotationForm.departureAt) }}
        </div>
        <div class="col-md-6">
            {{ form_row(quotationForm.arrivalCity) }}
            {{ form_row(quotationForm.arrivalAt) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ form_row(quotationForm.passengers) }}
            {{ form_row(quotationForm.isUsingBus) }}

        </div>
    </div>

    <div class="row border-top pt-3">
        <div class="col-12 text-end">
            <button type="submit" class="btn btn-success"><i class="bi bi-cursor"></i> Envoyer ma demande</button>
        </div>

    </div>

    {{ form_end(quotationForm) }}
</div>

{% endif %}