{% extends 'base.html.twig' %}

{% block title %}Administration - PT{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/dashboard.css') }} ">
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="{{ path('app_visitor') }}">Transport Proto</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-body-tertiary sidebar collapse">
                <div class="position-sticky pt-3 sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_admin_informations') }}">
                                <i class="bi bi-building"></i>
                                Informations générales
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_admin_caroussel') }}">
                                <i class="bi bi-postage"></i>
                                Carousel
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_admin_services') }}">
                                <i class="bi bi-ui-checks"></i>
                                Services
                            </a>
                        </li>
                    </ul>

                </div>
            </nav>

            <section class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Back-office Transport Proto</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group me-2">
                            <a href="" class="btn btn-sm btn-outline-secondary position-relative">
                                <i class="bi bi-envelope-fill"></i>
                                Messagerie
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                99+
                                <span class="visually-hidden">messages non lus</span>
                              </span>
                            </a>

                        </div>
                    </div>
                </div>

                {% block admin_body %}
                {% endblock %}

            </section>
        </div>
    </div>
{% endblock %}
