<h1>Transport Proto - Site Web</h1>

<h2>Vous avez un nouveau message</h2>

<h3>Nom: {{ contact.name }}</h3>
<h3>Email: {{ contact.email }}</h3>
<h3>Sujet: {{ contact.reason }}</h3>
<p>{{ contact.message }}</p>

Le message est visible <a href="{{ absolutePath }}">sur votre panneau d'administration</a>